body{
    display: grid;
    height: 300vh;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:1.5fr repeat(3,1fr) 1.5fr repeat(2,1fr);
     grid-template-areas:  
    "header header header header"
    "text1 text1 design1 design1"
    "design2 design2 text2 text2"
    "design3 design3 design4 design4"
    "feedback feedback feedback feedback"
    "design5 design6 design7 design8"
    "footer footer footer footer";
}
#navmenu{
    float: right;
    padding-top: 40px;
    padding-right: 40px;
    word-spacing: 25px;
}

#head{
    float: left;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    color: white;
    padding-left: 15px;
    padding-top: 35px;
    margin-left: 40px;
    transform: scale(1.5);
}
#texthead{
    grid-area: header;
    text-align: center;
    background-image: url("images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}
button{
    border: none;
    background-color: hsl(200, 100%, 62%);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    border-radius: 15px;
    height: 40px;
    width: 70px;
    color: white;
}
#text1{
    grid-area: text1;
    margin-left: 15px;
    padding-left: 150px;
    margin-top: 170px;
}
#text2{
    grid-area: text2;
    margin-left: 100px;
    margin-top: 170px;
}
#design3{
    grid-area: design3;
}
#design4{
    grid-area: design4;
}
#feedback{
    grid-area: feedback;
}
#footer{
    grid-area: footer;
    text-align: center;
}
.attribution{
    grid-area: footer;
}
h1{
    font-family: 'Fraunces', serif;
    font-size: 50px;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;

}
h2{
    font-family:'Fraunces', serif;
    padding-right: 190px;
}
p{
    padding-right: 90px;
}
h4{
    font-family:'Fraunces', serif;
    font-size: 13px;
    text-transform: uppercase;
    
    
}
#design1{
    background-image: url("/images/desktop/image-transform.jpg");
    grid-area: design1;
    background-position: center;
    height: 600px;
}
#design2{
    background-image: url("/images/desktop/image-stand-out.jpg");
    grid-area: design2;
    background-position: center;
    height: 600px;
}
.yellow{
    text-decoration:underline 3px hsl(51, 100%, 49%);
}
.red{
    text-decoration:underline 3px hsl(7, 99%, 70%);
}
#design3{

}